---
import SectionHeading from "../UI/SectionHeading.astro";
import FAQItem from "./FAQItem.astro";

interface Props {
  data: {
    heading: {
      eyebrow: string;
      title: string;
    };
    items: readonly {
      question: string;
      answer: string;
    }[];
  };
}

const { data } = Astro.props;
---

<section id="faq" class="bg-[var(--cream)] py-32">

  <div class="container max-w-5xl">

    <SectionHeading
      eyebrow={data.heading.eyebrow}
      title={data.heading.title}
    />

    <div class="space-y-6">

      {data.items.map((item) => (
        <FAQItem question={item.question} answer={item.answer} />
      ))}

    </div>

  </div>

</section>
