---
import SectionHeading from "../UI/SectionHeading.astro";
import AccommodationCard from "./AccommodationCard.astro";

interface Props {
  data: {
    heading: {
      eyebrow: string;
      title: string;
    };
    labels: any;
    cards: readonly any[];
  };
}

const { data } = Astro.props;
---

<section id="accommodations" class="bg-white py-32">

  <div class="container max-w-6xl">

    <SectionHeading
      eyebrow={data.heading.eyebrow}
      title={data.heading.title}
    />

    <div class="grid gap-10 lg:grid-cols-2">

      {data.cards.map((card) => (
        <AccommodationCard {...card} labels={data.labels} />
      ))}

    </div>

  </div>

</section>
